/*Navbar*/
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 12px;
    font-size: 15px;
    line-height: 14px;
}
/*Investors*/
.investors img {
    max-width:100px;
    max-height:70px;
}
/*Investors*/
.clients .wrapper {
    overflow: hidden;
    max-height: 300px;
}