/*Navbar*/
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 12px;
    font-size: 15px;
    line-height: 14px;
}
/*Investors*/
.investors img {
    width:80px;
}
/*Investors*/
.clients .wrapper {
    overflow: hidden;
    max-height: 300px;
}
/*Flex*/
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
/* to center flex-items */
.flex-item {
   margin: auto;
}