<section class="section-border border-primary">
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters py-12">
      <div class="col-12 col-md-5 col-lg-4">
        <h1
          style="font-size:70px"
          class="moon-gray lh-title fw7 mb-0">
          404
        </h1>
        <p class="silver lh-title fw7">
          Sorry page not found.<br>
          <span class="f6 moon-gray">Return to <a href="/">homepage</a>.</span>
        </p>
      </div>
    </div>
  </div>
</section>