<section class="py-8 py-md-11">
  <div
    class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-7 text-center">
        <span
          class="badge badge-pill badge-success-soft mb-3">
          <span class="h6 text-uppercase">About Us</span>
        </span>
        <h1
          style="font-size:38px">
          We lower the time, cost and risk of hiring great developers.
        </h1>
        <p
          class="font-size-lg text-muted">
          Since entering the Los Angeles tech scene in 2011, our founders have met hundreds of senior-level developers from all around the world. In countries like Argentina, many are willing to work for as low as 30% the cost of U.S. developers. Unfortunately, we see way too many startups struggling to recruit, screen, manage and retain good developers, and end up hiring inexperienced workers or overpriced agencies. We built Otter to help bridge this gap.
        </p>
        <p
          class="font-size-lg text-muted">
          Argentina has a highly educated youth population, vibrant IT community, manageable time difference, <a href="https://www.visualcapitalist.com/the-most-miserable-countries-in-the-world/" target="_blank">favorable exchange rate</a>, and an abundance of senior developers with many years of experience as remote workers for U.S. companies.
        </p>
      </div>
    </div>
  </div>
</section>