<section class="pt-10">
  <div
    class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-7 text-center">
        <h1
          style="font-size:38px"
          class="fw7 pb-5">
          About Otter
        </h1>
        <p
          class="f4 text-muted">
          Since 2011, our founders have built multiple products, apps and services together, including a home care marketplace <a href="https://medium.com/@kaleazy/theres-no-magic-in-venture-backed-home-care-8f5389528279" href="_blank">HomeHero</a>, and raised collectively over $23 million in venture funding. Mike and Kyle exited two companies together and were named to Forbes "30 Under 30" in Healthcare in 2016.
        </p>
        <p
          class="f4 text-muted">
          When we're not screening developers for Otter, we enjoy building <a href="https://redeeem.com" href="_blank">Redeeem</a>, a peer-to-peer crypto exchange for digital goods, sharing audible stories on <a href="https://metastoryapp.com" href="_blank">Metastory</a>, or interviewing founders on our fintech podcast <a href="https://aroundthecoun.com" href="_blank">Around the Coin</a>.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-7 text-center">
        <div class="my-5">
          <img src="https://otter-cdn.sfo2.digitaloceanspaces.com/man-working.jpg"
            class="img-fluid rounded">
          <p class="my-2 moon-gray f5">
            Developer coworking space in Buenos Aires.
          </p>
        </div>
        <p
          class="f4 text-muted">
          Since entering the Santa Monica and Bay Area tech scene in 2011, our founders have started three companies together and met hundreds of senior-level developers. We know that hiring, screening, managing and retaining top technical talent can be a full-time job. We give startup companies an option to grow their engineering teams at a fraction of the cost of U.S. developers, backed by Otter's quality guarantee.
        </p>
      </div>
    </div>
  </div>
</section>