<section class="py-8 py-md-11">
  <div
    class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-7 text-center">
        <span
          class="badge badge-pill badge-success-soft mb-3">
          <span class="h6 text-uppercase">About Us</span>
        </span>
        <h2
          class="px-5 mb-5">
          Welcome to Redeeem, the trusted discount gift card exchange.
        </h2>
        <p
          class="font-size-lg text-muted">
          Started in 2018, Redeeem is a fast, safe and easy way to buy and sell discount gift cards using cryptocurrencies. As a trusted peer-to-peer exchange, we are passionate about Bitcoin and accelerating its adoption into the global economy.
        </p>
        <div
          class="my-6 mx-7">
          <img
            src="https://storage.googleapis.com/redeeem/assets/images/site/kyle_mike.png"
            alt="Kyle and Mike"
            data-aos="fade-in"
            class="img-fluid rounded">
          <p class="silver f6 mt2">
            Co-founders <a href="https://twitter.com/kaleazy" class="gray dim" target="_blank">Kyle Hill</a> and <a href="https://twitter.com/michaeltheleo" class="gray dim" target="_blank">Mike Townsend</a>.
          </p>
        </div>
        <p
          class="font-size-lg text-muted">
          We believe Bitcoin especially can improve the lives of 2+ billion people around the world who live without a bank account, battle hyperinflation, have distrust for their financial institutions, or need quick (same-day) access to capital. We are empowering a trusted community of gift card traders globally who and are unexpectedly at the helm of the blockchain movement.
        </p>
        <div
          class="my-7 mx-7">
          <img
            src="https://storage.googleapis.com/redeeem/assets/images/site/unbanked.png"
            alt="Unbanked globally"
            data-aos="fade-in"
            class="img-fluid rounded">
          <p class="silver f6 mt2">
            For 2+ billion underbanked, gift cards are a gateway into Bitcoin.
          </p>
        </div>
        <p
          class="font-size-lg text-muted">
          All gift cards are backed by a <a href="/trust">100% Guarantee</a> to help protect you from fraud and we have a responsive support team available 7 days a week to help you with anything. The average discount for buyers of gift cards on Redeeem is over 20%, so join us today!
        </p>
      </div>
    </div>
  </div>
</section>