<section class="py-10 bg-light">
  <div
    data-aos="fade-in"
    class="container">
    <!-- Title -->
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <h1 class="font-weight-bold">
          Senior developers. Entry-level rates.
        </h1>
        <p class="font-size-lg mid-gray mb-9">
          Otter helps you meet your product and engineering goals faster, build with higher quality, and be more responsive to changes in your business.
        </p>
      </div>
    </div>
    <div class="row">
      <!-- Screen -->
      <div class="col-12 col-md-4">
        <div class="card shadow-light-lg lift lift-lg mb-3">
          <div class="card-body">
            <div class="col-12 my-5 tc">
              <img
                style="height:110px"
                src="https://otter-cdn.sfo2.digitaloceanspaces.com/screen-step.png"
                class="dib pb-3 pt0-ns"
                alt="Telegram">
            </div>
            <h3 class="font-weight-bold">
              Initial Screen
            </h3>
            <p class="mid-gray mb-5">
              We will set up a video call to better understand your goals, technical needs, and product roadmap.
            </p>
            <a href="/process" class="font-size-sm font-weight-bold text-decoration-none">
              Frameworks
              <i class="fal fa-angle-right ml2"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Skills -->
      <div class="col-12 col-md-4">
        <div class="card shadow-light-lg lift lift-lg mb-3">
          <div class="card-body">
            <div class="col-12 my-5 tc">
              <img
                style="height:110px"
                src="https://otter-cdn.sfo2.digitaloceanspaces.com/match-step.png"
                class="dib pb-3 pt0-ns"
                alt="Loom">
            </div>
            <h3 class="font-weight-bold">
              Skills Matching
            </h3>
            <p class="mid-gray mb-5">
              We will refer you Otters within our pre-vetted network based on your team, tech stack and other project requirements. 
            </p>
            <a href="/clients" class="font-size-sm font-weight-bold text-decoration-none">
              Client Stories
              <i class="fal fa-angle-right ml2"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Zero -->
      <div class="col-12 col-md-4">
        <div class="card shadow-light-lg lift lift-lg mb-3">
          <div class="card-body">
            <div class="col-12 my-5 tc">
              <img
                style="height:110px"
                src="https://otter-cdn.sfo2.digitaloceanspaces.com/pay-step.png"
                class="dib pb-3 pt0-ns"
                alt="Free">
            </div>
            <h3 class="font-weight-bold">
              Dynamic Usage
            </h3>
            <p class="mid-gray mb-5">
              Enjoy a fast and thorough onboarding process, simple monthly billing, and no long-term contracts.
            </p>
            <a
              href="/rates"
              class="font-size-sm font-weight-bold text-decoration-none">
              Hourly Rates
              <i class="fal fa-angle-right ml2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>