<section
  class="pt-10 pb-10 bg-dark"
  style="background-image: url(https://storage.googleapis.com/redeeem/assets/images/site/chrome.png);">
  <div
    data-aos="fade-up"
    class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <span class="badge badge-pill badge-gray-700-soft mb-3">
          <span class="h6 text-uppercase">Chrome Extension</span>
        </span>
        <h1 class="display-4 text-white">
          Chrome Browser Extension
        </h1>
        <p class="font-size-lg text-muted mb-6 mb-md-8">
          Download our Redeeem Chrome Extension and gain access to real-time gift card inventory, average rates, sale velocity, Bitcoin price and crypto news right from your browser 24 hours a day. It's totally free!
        </p>
        <a
          href="https://chrome.google.com/webstore/detail/bajninkifaekligedicfbmmgnjcmamhc"
          class="btn btn-primary lift ph2">
          Add to Chrome <i class="fab fa-chrome ml2"></i>
        </a>
      </div>
    </div>
  </div>
</section>