<section
  class="my-10"
  style="background-image: url(https://otter-cdn.sfo2.digitaloceanspaces.com/brush-stroke.png);
    background-size: 100%;
    background-repeat:no-repeat;">
  <div
    data-aos="fade-up"
    class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <h1
          class="fw7 pb-5"
          style="font-size:38px">
          We lower the time, costs and risks of hiring great developers.
        </h1>
        <p class="font-size-lg mb-6 mb-md-8">
          We charge for engineering work by the hour, at a fraction of the cost of U.S. developers. We're confident we can find a vetted, experienced Otter developer for any web or mobile project within a few days.
        </p>
        <a
          href="/quote"
          class="btn btn-primary lift ph3">
          Compare Rates<i class="far fa-chevron-right ml2"></i>
        </a>
      </div>
    </div>
  </div>
</section>