<section
  class="pt-10 pb-10 bg-dark"
  style="
    background-image: url(https://otter-cdn.sfo2.digitaloceanspaces.com/ocean-bg.jpg);
    background-repeat: repeat;">
  <div
    data-aos="fade-up"
    class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <span class="badge badge-pill badge-gray-700-soft mb-3">
          <span class="h6 text-uppercase">Quote</span>
        </span>
        <h1 class="display-4 text-white">
          Get an Instant Quote
        </h1>
        <p class="font-size-lg text-white mb-6 mb-md-8">
          We charge for engineering work by the hour, at a fraction of the cost of U.S. developers. Answer a few questions and get a quote for your web or mobile development project instantly.
        </p>
        <a
          href="/quote"
          class="btn btn-primary lift ph3">
          Get a Quote <i class="far fa-chevron-right ml2"></i>
        </a>
      </div>
    </div>
  </div>
</section>