<!-- Client Info -->
<section
  class="pt-7 pb-10 bg-light">
  <div class="container">
    <h1 class="mb-2">
      @@client
    </h1>
    <p class="f5 fw5 silver ttu mb-6">
      @@industry
    </p>
    <div class="row">
      <div class="col-md-8">
        <img class="img-fluid" src="@@image" alt="">
      </div>
      <div class="col-md-4">
        <h3 class="mb-2">
          Description
        </h3>
        <p class="mb-2">
          @@description
        </p>
        <h3 class="mb-2">
          Technology
        </h3>
        <ul>
          <li>@@technology1</li>
          <li>@@technology2</li>
          <li>@@technology3</li>
        </ul>
        <h3 class="mb-2">
          Launched
        </h3>
        <ul>
          <li>@@year</li>
        </ul>
      </div>
    </div>
  </div>
</section>