<section class="pt-9 pb-7 bg-light">
  <div
    data-aos="fade-in"
    class="container clients">
    <div
      class="row d-flex flex-wrap align-items-center pt-3">
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/homehero"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/homehero-web1.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/harvey"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/harvey-web1.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div
      class="row d-flex flex-wrap align-items-center pt-3">
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/zing"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/zing-web.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/homehero"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/homehero-mobile1.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div
      class="row d-flex flex-wrap align-items-center pt-3">
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/noteworth"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/noteworth-web.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/redeeem"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/redeeem-web2.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div
      class="row d-flex flex-wrap align-items-center pt-3">
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/harvey"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/harvey-web2.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/zing"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/zing-pos.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div
      class="row d-flex flex-wrap align-items-center pt-3">
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/lune"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/lune-mobile.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/zing"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/zing-tablet.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div
      class="row d-flex flex-wrap align-items-center pt-3">
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/redeeem"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/redeeem-web1.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/homehero"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/homehero-mobile4.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div
      class="row d-flex flex-wrap align-items-center pt-3">
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/flowtab"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/flowtab-mobile.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/flowtab"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/flowtab-tablet.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div
      class="row d-flex flex-wrap align-items-center pt-3">
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/homehero"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/homehero-mobile2.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/homehero"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/homehero-mobile3.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div
      class="row d-flex flex-wrap align-items-center pt-3">
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/homehero"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/homehero-web4.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/homehero"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/homehero-web2.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div
      class="row d-flex flex-wrap align-items-center pt-3">
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/zing"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/zing-pos.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/homehero"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/homehero-tablet.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>