<section class="py-10 bg-light">
  <div
    data-aos="fade-in"
    class="container clients">
    <div
      class="row d-flex flex-wrap align-items-center pt-3">
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/homehero"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/homehero-big-logo.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/flowtab"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/flowtab-big-logo.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div
      class="row d-flex flex-wrap align-items-center pt-3">
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/zing"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/zing-big-logo.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/harvey"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/harvey-big-logo.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div
      class="row d-flex flex-wrap align-items-center pt-3">
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/lune"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/lune-big-logo.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
      <div
        class="col-sm dib v-mid pa2 tc">
        <div class="wrapper">
          <a
            href="/clients/redeeem"
            class="dim pointer">
            <img
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/redeeem-big-logo.jpg"
              class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>