<section class="py-7 pb-10 border-bottom">
  <div
    data-aos="fade-in"
    class="container">
    <div class="col-12 pb4">
      <span class="badge badge-pill badge-primary-soft mb-3">
        <span class="h6 text-uppercase">Crypto</span>
      </span>
      <h3 class="mb-0">
        Crypto to Gift Cards
      </h3>
      <p class="mb-0 text-muted">
        We accept over 20 different cryptocurrencies.
      </p>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="Bitcoin"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/btc.png"
              alt="Bitcoin">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="Bitcoin Cash"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/bch.png"
              alt="Bitcoin Cash">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="Ripple"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/xrp.png"
              alt="Ripple">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="Litecoin"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/ltc.png"
              alt="Litecoin">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="Ethereum"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/eth.png"
              alt="Ethereum">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="Ethereum Classic"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/etc.png"
              alt="Ethereum Classic">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="Tron"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/trx.png"
              alt="Tron">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="Neo"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/neo.png"
              alt="Neo">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="TrueUSD"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/tusd.png"
              alt="TrueUSD">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="USDCoin"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/usdc.png"
              alt="USDCoin">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="Tether"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/usdt.png"
              alt="Tether">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="Monero"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/xmr.png"
              alt="Monero">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="Ethos"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/eos.png"
              alt="Ethos">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="Steem"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/steem.png"
              alt="Steem">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="Binance Coin"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/bnb.png"
              alt="Binance Coin">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="Dogecoin"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/doge.png"
              alt="Dogecoin">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="Dai"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/dai.png"
              alt="Dai">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-4 mb-md-0 tc">
        <div class="img-fluid my-2 o-70">
          <a
            target="_blank"
            title="Gemini Dollar"
            class="nav-link dim"
            href="//www.coinbase.com/join/miketownsend/">
            <img
              style="width:40px"
              src="https://storage.googleapis.com/redeeem/assets/images/crypto/gusd.png"
              alt="Gemini Dollar">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>