<!-- CTA
================================================== -->
<section class="pt-6 pt-md-8">
  <div class="container pb-6 pb-md-8 border-bottom">
    <div class="row align-items-center">
      <div class="col-12 col-md">
        
        <!-- Heading -->
        <h3 class="font-weight-bold mb-1">
          Secure your data in minutes.
        </h3>

        <!-- Text -->
        <p class="font-size-lg text-muted mb-6 mb-md-0">
          Prevent security breaches and save money.
        </p>

      </div>
      <div class="col-12 col-md-auto">
            
        <!-- Button -->
        <a href="#!" class="btn btn-primary-soft mr-1 lift">
          Learn more
        </a>
        
        <a href="#!" class="btn btn-primary lift">
          Get started
        </a>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>