<section class="pt-3 pb-9 bg-white">
  <div
    class="container">
    <div class="row">
      <div class="col-12">
        <p
          class="mv2 moon-gray" style="font-size:13px;line-height:17px">
          © 2019 Redeeem LLC. All Rights Reserved. Redeeem is a peer-to-peer exchange and does not buy or issue any gift cards or other closed-loop products sold on redeeem.com and we are not not an official partner, sponsor, affiliate or in any way related to the merchant brands whose logos or trademarks appear on our site.
        </p>
      </div>
    </div>
  </div>
</section>