<!-- Footer -->
<section class="py-5 bg-white">
  <div
    class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4 py-3">
        <!-- Icon -->
        <a
          href="/"
          class="text-reset">
          <img
            style="width:140px"
            src="https://otter-cdn.sfo2.digitaloceanspaces.com/otter-logo.png" alt="..."
            class="footer-brand img-fluid mb-2">
        </a>
        <!-- Text -->
        <p
          style="font-size:16px" class="silver my-2 fw6 lh-title">
          A premier web and mobile development agency with 100% remote offices.
          <img
            style="min-width:20px;max-width:20px"
            src="https://otter-cdn.sfo2.digitaloceanspaces.com/mask.png"
            class="dib"
            alt="Mask">
        </p>
        <!-- Social -->
        @@include("social.html")
      </div>
      <div class="col-6 col-md-2 col-lg-2">
        <h6 class="ttu moon-gray pv2">
          Website
        </h6>
        <ul class="list-unstyled fw6 mb-6 mb-md-8 mb-lg-0">
          <li class="mb-1">
            <a
              href="/about"
              class="text-reset">
              About
            </a>
          </li>
          <li class="mb-1">
            <a
              href="/clients"
              class="text-reset">
              Clients
            </a>
          </li>
          <li class="mb-1">
            <a
              href="/process"
              class="text-reset">
              Process
            </a>
          </li>
          <li class="mb-1">
            <a
              href="/media"
              class="text-reset">
              Media
            </a>
          </li>
          <li class="mb-1">
            <a
              href="/rates"
              class="text-reset">
              Rates
            </a>
          </li>
          <li class="mb-1">
            <a
              target="_blank"
              href="https://aroundthecoin.com/"
              class="text-reset">
              Podcast
            </a>
          </li>
          <li class="mb-1">
            <a
              target="_blank"
              href="https://www.redeeem.com/blog"
              class="text-reset">
              Blog
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-2 col-lg-2">
        <h6 class="ttu moon-gray pv2">
          Partners
        </h6>
        <ul class="list-unstyled fw6 mb-6 mb-md-8 mb-lg-0">
          <li class="mb-1">
            <a
              target="_blank"
              href="https://www.vrrb.com"
              class="text-reset">
              Vrrb
            </a>
          </li>
          <li class="mb-1">
            <a
              target="_blank"
              href="https://www.aesthetic.com/"
              class="text-reset">
              Aesthetic
            </a>
          </li>
          <li class="mb-1">
            <a
              target="_blank"
              href="https://www.redeeem.com"
              class="text-reset">
              Redeeem
            </a>
          </li>
          <li class="mb-1">
            <a
              target="_blank"
              href="https://tighten.co"
              class="text-reset">
              Tighten
            </a>
          </li>
          <li class="mb-1">
            <a
              target="_blank"
              href="https://aroundthecoin.com/"
              class="text-reset">
              Podcast
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-2 col-lg-2">
        <h6 class="ttu moon-gray pv2">
          Resources
        </h6>
        <ul class="list-unstyled fw6 mb-0">
          <li class="mb-1">
            <a
              target="_blank"
              href="https://www.redeeem.help"
              class="text-reset">
              Help Center
            </a>
          </li>
          <li class="mb-1">
            <a
              target="_blank"
              href="https://www.redeeem.help/en/articles/2722563-privacy-policy"
              class="text-reset">
              Privacy Policy
            </a>
          </li>
          <li class="mb-1">
            <a
              target="_blank"
              href="https://t.me/redeeembot"
              class="text-reset">
              RedeeemBot
            </a>
          </li>
          <li class="mb-1">
            <a
              href="/rates"
              class="text-reset">
              Contact
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-2 col-lg-2">
        <h6 class="ttu moon-gray pv2">
          Developers
        </h6>
        <ul class="list-unstyled fw6 mb-0">
          <li class="mb-1">
            <a
              target="_blank"
              href="https://www.redeeem.help/en/articles/2722563-privacy-policy"
              class="text-reset">
              Apply
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Disclaimer -->
@@include("disclaimer.html")