<!-- Footer -->
<section class="py-5 bg-white">
  <div
    class="container">
    <div class="row">
      <div class="col-12 col-md-4 pb-6">
        <!-- Icon -->
        <a
          href="/"
          class="text-reset">
          <img
            style="width:140px"
            src="https://storage.googleapis.com/redeeem/assets/images/logo_gray.png" alt="..."
            class="footer-brand img-fluid mb-2">
        </a>
        <!-- Text -->
        <p
          style="font-size:15px" class="silver mb-2 fw5 lh-title">
          A trusted peer-to-peer discount gift card exchange created by <a href="https://www.otterlabs.co" target="_blank">Otter Labs</a>.
        </p>
        <!-- Social -->
        @@include("social.html")
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <h6 class="ttu moon-gray pv2">
          Website
        </h6>
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-1">
            <a
              href="/about"
              class="text-reset">
              About
            </a>
          </li>
          <li class="mb-1">
            <a
              href="/product"
              class="text-reset">
              Product
            </a>
          </li>
          <li class="mb-1">
            <a
              href="/trust"
              class="text-reset">
              Trust
            </a>
          </li>
          <li class="mb-1">
            <a
              href="/partners"
              class="text-reset">
              Partners
            </a>
          </li>
          <li class="mb-1">
            <a
              href="https://www.redeeem.com/blog"
              class="text-reset">
              Blog
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <h6 class="ttu moon-gray pv2">
          Apps
        </h6>
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-1">
            <a
              href="https://app.redeeem.com/login/#/"
              class="text-reset">
              Login
            </a>
          </li>
          <li class="mb-1">
            <a
              href="https://app.redeeem.com/login/#/signup"
              class="text-reset">
              Signup
            </a>
          </li>
          <li class="mb-1">
            <a
              target="_blank"
              href="https://chrome.google.com/webstore/detail/bajninkifaekligedicfbmmgnjcmamhc"
              class="text-reset">
              Chrome
            </a>
          </li>
          <li class="mb-1">
            <a
              target="_blank"
              href="https://coin360.com/"
              class="text-reset">
              Coin360
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">
        <h6 class="ttu moon-gray pv2">
          Support
        </h6>
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-1">
            <a
              target="_blank"
              href="https://www.redeeem.help/en/collections/1582856-buy-cards"
              class="text-reset">
              Buy Cards
            </a>
          </li>
          <li class="mb-1">
            <a
              target="_blank"
              href="https://www.redeeem.help/en/collections/925025-sell-cards"
              class="text-reset">
              Sell Cards
            </a>
          </li>
          <li class="mb-1">
            <a
              target="_blank"
              href="https://www.redeeem.help/en/articles/2979123-what-are-trust-ratings"
              class="text-reset">
              Trust Ratings
            </a>
          </li>
          <li class="mb-1">
            <a
              target="_blank"
              href="https://www.redeeem.help/en/articles/3012710-affiliate-program"
              class="text-reset">
              Affiliates
            </a>
          </li>
          <li class="mb-1">
            <a
              target="_blank"
              href="https://www.redeeem.help/en/articles/2932397-how-does-the-dispute-process-work"
              class="text-reset">
              Disputes
            </a>
          </li>
          <li class="mb-1">
            <a
              href="https://www.redeeem.help"
              class="text-reset">
              Help
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <h6 class="ttu moon-gray pv2">
          Legal
        </h6>
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-1">
            <a
              target="_blank"
              href="https://www.redeeem.help/en/articles/2722574-terms-of-service"
              class="text-reset">
              Terms of Service
            </a>
          </li>
          <li class="mb-1">
            <a
              target="_blank"
              href="https://www.redeeem.help/en/articles/2722563-privacy-policy"
              class="text-reset">
              Privacy Policy
            </a>
          </li>
          <li class="mb-1">
            <a
              target="_blank"
              href="https://www.redeeem.help/en/articles/2722575-aml-kyc-policy"
              class="text-reset">
              AML Policy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Disclaimer -->
@@include("disclaimer.html")