<section class="pt-8 pb-12 bg-white">
  <div
    data-aos="fade-in"
    class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <span class="badge badge-pill badge-primary-soft mb-3">
          <span class="h6 text-uppercase">Frameworks</span>
        </span>
        <h2 class="f2">
          We have experience using a wide variety of languages and frameworks.
        </h2>
        <p class="font-size-lg text-gray-700 mb-9">
          We can recruit developers for almost any project. The easiest languages to find are <a href="https://www.wikiwand.com/en/PHP" target="_blank">PHP</a></span>, <a href="https://www.wikiwand.com/en/Ruby_(programming_language)" target="_blank">Ruby</a></span>, <a href="https://www.wikiwand.com/en/Python_(programming_language)" target="_blank">Python</a></span>, <a href="https://www.wikiwand.com/en/Java_(programming_language)" target="_blank">Java</a></span>, <a href="https://www.wikiwand.com/en/Lua_(programming_language)" target="_blank">Lua</a></span>, <a href="https://www.wikiwand.com/en/IOS" target="_blank">iOS</a></span>, <a href="https://www.wikiwand.com/en/Android_(operating_system)" target="_blank" >Android</a></span>, <a href="https://www.wikiwand.com/en/Go_(programming_language)" target="_blank">Golang (Go)</a></span> and <a href="https://www.wikiwand.com/en/JavaScript" target="_blank">Javascript</a></span>. Below are some platforms we recommend.</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="height:70px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/laravel.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="Laravel">
          </div>
        </div>
        <h3 class="font-weight-bold">
          Laravel
        </h3>
        <p class="text-muted mb-8">
          <a href="https://laravel.com" target="_blank">Laravel</a> is the #1 PHP framework with elegant syntax and strong open source community.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="height:70px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/vue.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="Vue">
          </div>
        </div>
        <h3 class="font-weight-bold">
          Vue
        </h3>
        <p class="text-muted mb-8">
          <a href="https://vuejs.org" target="_blank">Vue.js</a> is a frontend model JavaScript framework for building applications.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="height:70px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/react.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="React">
          </div>
        </div>
        <h3 class="font-weight-bold">
          React
        </h3>
        <p class="text-muted mb-8">
          <a href="https://reactjs.org" target="_blank">React</a> (like Vue) is a JavaScript framework for building single-page applications.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="height:60px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/shopify.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="Shopify">
          </div>
        </div>
        <h3 class="font-weight-bold">
          Shopify
        </h3>
        <p class="text-muted mb-8">
          Build a powerful ecommerce store on <a href="https://shopify.com" target="_blank">Shopify</a> with hundreds of payment methods.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="height:70px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/bcoin.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="Bcoin">
          </div>
        </div>
        <h3 class="font-weight-bold">
          Bcoin
        </h3>
        <p class="text-muted mb-8">
          Build a peer-to-peer crypto exchange on Bitcoin or Bitcoin Cash blockchain with <a href="https://bcoin.io" target="_blank">Bcoin.io</a>.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="height:70px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/ios.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="iOS">
          </div>
        </div>
        <h3 class="font-weight-bold">
          iOS
        </h3>
        <p class="text-muted mb-8">
          Apple's <a href="https://www.apple.com/ios/ios-13/" target="_blank">iOS 13</a> operating system is the base language for all apps on iPhone, iPad, iPod, etc.
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="height:70px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/android.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="Android">
          </div>
        </div>
        <h3 class="font-weight-bold">
          Android
        </h3>
        <p class="text-muted mb-8">
          Google-owned <a href="https://www.android.com" target="_blank">Android</a> is the most popular framework in the world for phones and tablets.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="height:70px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/mysql.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="Loom">
          </div>
        </div>
        <h3 class="font-weight-bold">
          MySQL
        </h3>
        <p class="text-muted mb-8">
          <a href="https://www.mysql.com" target="_blank">MySQL</a> is a relational database management system built for scale, security and uptime.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="height:70px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/aws.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="Stabecoins">
          </div>
        </div>
        <h3 class="font-weight-bold">
          AWS
        </h3>
        <p class="text-muted mb-8">
          For big companies with larger storage requirements, we recommend <a href="https://www.aws.com" target="_blank">AWS</a>.
        </p>
      </div>
    </div>
  </div>
</section>