<section class="pt-10 pb-12 border-bottom">
  <div
    class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-6 col-lg-5 order-md-4">
        <span class="badge badge-pill badge-primary-soft mb-3">
          <span class="h6 text-uppercase">Argentina</span>
        </span>
        <h2>
          Why is <span class="text-primary">Argentina</span> ideal for sourcing developers?
        </h2>
        <p class="font-size-lg text-gray-700 mb-8 mb-md-0">
          We located our office in Buenos Aires due to their educated tech population, vibrant IT community, minimal time difference, highly favorable <a href="https://www.xe.com/currencycharts/?from=USD&to=ARS&view=2Y" target="_blank">exchange rate</a>, and an abundance of senior developers with years of experience working remotely for U.S. companies.
        </p>
      </div>
      <div
        class="col-12 col-md-6 col-lg-7">
        <div class="mb-8 mb-md-0">
          <img src="https://otter-cdn.sfo2.digitaloceanspaces.com/arg-flag.jpg"
            class="screenshot img-fluid float-right mr-md-5 my-4">
        </div>
      </div>
    </div>
  </div>
</section>