<section class="pt-10 pb-12 border-bottom">
  <div
    class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-6 col-lg-5 order-md-4">
        <span class="badge badge-pill badge-primary-soft mb-3">
          <span class="h6 text-uppercase">Global</span>
        </span>
        <h2>
          You only need a desktop or mobile device. <span class="text-primary">Not a bank</span>.
        </h2>
        <p class="font-size-lg text-gray-700 mb-8 mb-md-0">
          We are available to users in 200+ countries and territories. Identity verification (KYC) is only required for bulk traders.
        </p>
      </div>
      <div
        data-aos="fade-in"
        class="col-12 col-md-6 col-lg-7">
        <div class="mb-8 mb-md-0">
          <img src="https://storage.googleapis.com/redeeem/assets/images/site/civic_map.png"
            class="screenshot img-fluid float-right mr-md-5 my-4">
        </div>
      </div>
    </div>
  </div>
</section>