<meta charset="utf-8">
<title id="title">@@title</title>
<link rel="canonical" href="@@url">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="language" content="english"> 
<meta http-equiv="content-type" content="text/html">
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover,shrink-to-fit=no">
<meta name="google-site-verification" content="KG8jQNwXtFz15iSFnlh818zsFiAVJh-FoQxeQ-X0AmE">
<meta name="image" content="@@image">
<meta name="description" content="@@description">
<meta name="keywords" content="@@keywords">
<meta property="og:site_name" content="Redeeem">
<meta property="og:url" content="@@url">
<meta property="og:type" content="@@type">
<meta property="og:title" content="@@title">
<meta property="og:description" content="@@description">
<meta property="og:image" content="@@image">
<meta property="og:author" content="@@author">
<meta property="og:locale" content="en_US">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@redeeem">
<meta name="twitter:title" content="@@title">
<meta name="twitter:description" content="@@description">
<meta name="twitter:image" content="@@image">
<meta name="theme-color" content="#42ade4">
<meta name=”robots” content="index,follow">
<meta name="revisit-after" content="3 days">
<meta name="distribution" content="web">

<!-- Images -->
<link rel="shortcut icon" type="image/png" href="https://otter-cdn.sfo2.digitaloceanspaces.com/favicon.png">
<link rel="apple-touch-icon"  type="image/png" href="https://otter-cdn.sfo2.digitaloceanspaces.com/favicon.png">

<!-- CSS -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/tachyons@4/css/tachyons.min.css">

<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
@@if (type === "404"){
<link rel="stylesheet" href="https://www.redeeem.com/assets/css/theme.min.css">
} @@if (type === "website"){
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css">
<link rel="stylesheet" href="@@webRoot/assets/css/custom.css">
<!-- endbuild -->
}

<!-- JS -->
<script src="https://unpkg.com/jquery@1.9.1/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap@4.1.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- AOS -->
<script>
$(function(){
  if (typeof AOS !== 'undefined') {
    var options = {
      duration: 700,
      easing: 'ease-out-quad',
      once: true,
      startEvent: 'load'
    }
    AOS.init(options);
  }
});
</script>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115182831-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-115182831-1');
</script>