<section class="pt-8 pb-12 bg-white">
  <div
    data-aos="fade-in"
    class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <span class="badge badge-pill badge-success-soft mb-3">
          <span class="h6 text-uppercase">Integrations</span>
        </span>
        <h2 class="font-weight-bold">
          Redeeem integrates nicely with other crypto services, platforms and exchanges.
        </h2>
        <p class="font-size-lg text-gray-700 mb-9">
          We integrate with APIs of many popular tech services to ensure sure your experience on Redeeem is fast, safe and easy. For a list of other recommended software partners, go to our <a href="/partners" target="_blank">Partners</a> page. 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="width:70px"
              src="https://storage.googleapis.com/redeeem/assets/images/tech/civic.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="Civic">
          </div>
        </div>
        <h3 class="font-weight-bold">
          Civic
        </h3>
        <p class="text-muted mb-8">
          Civic provides fast identity verification in over 200 countries and territories.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="width:70px"
              src="https://storage.googleapis.com/redeeem/assets/images/tech/coinpayments.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="CoinPayments">
          </div>
        </div>
        <h3 class="font-weight-bold">
          CoinPayments
        </h3>
        <p class="text-muted mb-8">
          Buy Redeeem Credits with dozens of cryptocurrencies on CoinPayments.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="width:70px"
              src="https://storage.googleapis.com/redeeem/assets/images/tech/bcoin.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="Bcoin">
          </div>
        </div>
        <h3 class="font-weight-bold">
          Bcoin
        </h3>
        <p class="text-muted mb-8">
          Own your own security keys through the Redeeem Wallet, hosted by Bcoin.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="width:60px"
              src="https://storage.googleapis.com/redeeem/assets/images/tech/coindesk.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="CoinDesk">
          </div>
        </div>
        <h3 class="font-weight-bold">
          CoinDesk
        </h3>
        <p class="text-muted mb-8">
          Configure buyer and seller alerts to get real-time market alerts on your mobile device.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="width:70px"
              src="https://storage.googleapis.com/redeeem/assets/images/tech/whatsapp.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="WhatsApp">
          </div>
        </div>
        <h3 class="font-weight-bold">
          WhatsApp
        </h3>
        <p class="text-muted mb-8">
          Receive gift card order and transfer updates right in WhatsApp.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="width:70px"
              src="https://storage.googleapis.com/redeeem/assets/images/tech/loom.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="Loom">
          </div>
        </div>
        <h3 class="font-weight-bold">
          Loom
        </h3>
        <p class="text-muted mb-8">
          Video record your redemption activity using Loom to protect against fraud.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="width:70px"
              src="https://storage.googleapis.com/redeeem/assets/images/tech/twilio.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="Loom">
          </div>
        </div>
        <h3 class="font-weight-bold">
          Twilio
        </h3>
        <p class="text-muted mb-8">
          Receive gift card price updates by retail brand via SMS, provided by Twilio.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="width:70px"
              src="https://storage.googleapis.com/redeeem/assets/images/tech/paxful.png?12"
              class="dib pt3 pt0-ns pl2-ns"
              alt="Loom">
          </div>
        </div>
        <h3 class="font-weight-bold">
          Paxful
        </h3>
        <p class="text-muted mb-8">
          Compare prices on Paxful to make sure you're getting the best rate.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <div class="icon text-primary">
            <img
              style="width:70px"
              src="https://storage.googleapis.com/redeeem/assets/images/tech/usdc.png"
              class="dib pt3 pt0-ns pl2-ns"
              alt="Stabecoins">
          </div>
        </div>
        <h3 class="font-weight-bold">
          Stabecoins
        </h3>
        <p class="text-muted mb-8">
          Buy Credits with stabecoins from Tether, TrueUSD, Coinbase and Binance.
        </p>
      </div>
    </div>
  </div>
</section>