<section class="py-4 bg-white">
  <div class="container">
    <div
      class="investors flex-container pv3">
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/science.png"
          alt="Science"
          class="rounded img-responsive">
      </div>
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/graham.png"
          alt="Graham Holdings"
          class="rounded img-responsive">
      </div>
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/techstars.png"
          alt="Techstars"
          class="rounded img-responsive">
      </div>
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/cedars.png"
          alt="Cedars-Sinai"
          class="rounded img-responsive">
      </div>
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/capital-factory.png"
          alt="Capital Factory"
          class="rounded img-responsive">
      </div>
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/launch.png"
          alt="Launch"
          class="rounded img-responsive">
      </div>
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/social-capital.png"
          alt="Social Capital"
          class="rounded img-responsive">
      </div>
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/tencent.png"
          alt="Tencent"
          class="rounded img-responsive">
      </div>
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/homehero.png"
          alt="HomeHero"
          class="rounded img-responsive">
      </div>
    </div>
  </div>
</section>