<section class="py-4 bg-white">
  <div class="container">
    <div
      class="investors row d-flex flex-wrap align-items-center pt-3">
      <div
        class="col-2 dib v-mid pa2 tc">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/science.png"
          alt="Science"
          class="rounded">
      </div>
      <div
        class="col-2 dib v-mid pa2 tc">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/graham.png"
          alt="Graham Holdings"
          class="rounded">
      </div>
      <div
        class="col-2 dib v-mid pa2 tc">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/techstars.png"
          alt="Techstars"
          class="rounded">
      </div>
      <div
        class="col-2 dib v-mid pa2 tc">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/cedars.png"
          alt="Cedars-Sinai"
          class="rounded">
      </div>
      <div
        class="col-2 dib v-mid pa2 tc">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/canon.png"
          alt="Canon Real Estate"
          class="rounded">
      </div>
      <div
        class="col-2 dib v-mid pa2 tc dn-m">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/capital-factory.png"
          alt="Capital Factory"
          class="rounded">
      </div>
    </div>
    <div
      class="investors row d-flex flex-wrap align-items-center pb-2">
      <div
        class="col-2 dib v-mid pa2 tc">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/launch.png"
          alt="Launch"
          class="rounded">
      </div>
      <div
        class="col-2 dib v-mid pa2 tc">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/social-capital.png"
          alt="Social Capital"
          class="rounded">
      </div>
      <div
        class="col-2 dib v-mid pa2 tc">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/tencent.png"
          alt="Tencent"
          class="rounded">
      </div>
      <div
        class="col-2 dib v-mid pa2 tc">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/baird.png"
          alt="Baird"
          class="rounded">
      </div>
      <div
        class="col-2 dib v-mid pa2 tc">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/homehero.png"
          alt="HomeHero"
          class="rounded">
      </div>
      <div
        class="col-2 dib v-mid pa2 tc dn-m">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/angel.png"
          alt="Angel List"
          class="rounded">
      </div>
    </div>
  </div>
</section>