<section class="py-10">
  <div
    class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-7 text-center">
        <span
          class="badge badge-pill badge-primary-soft mb3">
          <span class="h6 text-uppercase">Team</span>
        </span>
        <h1
          class="mb-5"
          style="font-size:38px">
          Our Leadership
        </h1>
        <p
          class="f4 text-muted">
          Since 2011, our founders have built multiple apps, products and services together, raised over $25 million in combined venture funding, and exited two companies. Mike and Kyle were named to Forbes "30 Under 30" in Healthcare in 2016 and "20 in their 20s" by LA Business Journal in 2017 and remain actively involved in L.A. startup ecosystem.
        </p>
      </div>
    </div>
    <section class="pt-7 pb-10">
      <hr class="my-2">
      <div class="row justify-content-center py-5">
        <div class="col-xl-3 col-md-4 col-12">
          <img
            src="https://otter-cdn.sfo2.digitaloceanspaces.com/mike.jpg"
            style="max-width:170px"
            class="rounded img-responsive"
            alt="Kyle"/>
        </div>
        <div class="col-xl-6 col-md-6 col-12">
          <h4 class="font-weight-bold mb0">
            Mike Townsend
          </h4>
          <p class="f5 silver mb-3">
            Business Development
          </p>
          <p class="f5 lh-title grey-text mb-2">
            Mike is an Ironman, active writer and host of "Around the Coin" payments podcast. He sold two tech companies (HomeHero and Zing) and founded a few others. He has attempted three Guinness World Records.
          </p>
          <a
            class="dim no-underline"
            target="_blank"
            href="https://twitter.com/michaeltheleo">
            <img
              style="max-width:25px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/twitter.png">
          </a>
          <a
            class="dim no-underline"
            target="_blank"
            href="https://medium.com/@mikettownsend">
            <img
              style="max-width:25px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/medium.png">
          </a>
        </div>
      </div>
      <hr class="my-2">
      <div class="row justify-content-center py-5">
        <div class="col-xl-3 col-md-4 col-12">
          <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/kyle.jpg"
          style="max-width:170px"
          class="rounded img-responsive"
          alt="Kyle">
        </div>
        <div class="col-xl-6 col-md-6 col-12">
          <h4 class="font-weight-bold mb0">
            Kyle Hill
          </h4>
          <p class="f5 silver mb-3">
            Product
          </p>
          <p class="f5 lh-title grey-text mb-2">
            Kyle is a soccer player and enjoys swimming and longboarding. He graduated from Pomona College and served as CEO of two venture-backed startups. He has a playful German Shepherd and aspires to be a Chess Grandmaster.
          </p>
          <a
            class="dim no-underline"
            target="_blank"
            href="https://twitter.com/kaleazy">
            <img
              style="max-width:25px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/twitter.png">
          </a>
          <a
            class="dim no-underline"
            target="_blank"
            href="https://medium.com/@kaleazy">
            <img
              style="max-width:25px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/medium.png">
          </a>
        </div>
      </div>
      <hr class="my-2">
      <div class="row justify-content-center py-5">
        <div class="col-xl-3 col-md-4 col-12">
          <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/alex.jpg"
          style="max-width:170px"
          class="rounded img-responsive"
          alt="Kyle">
        </div>
        <div class="col-xl-6 col-md-6 col-12">
          <h4 class="font-weight-bold mb0">
            Alex Vazquez
          </h4>
          <p class="f5 silver mb-3">
            Recruiting
          </p>
          <p class="f5 lh-title grey-text mb-2">
            Alex is a seasoned product manager, QA engineer and technical recruiter with deep roots in Buenos Aires. He is Agile and Scrum Master Certified with 10+ years of development experience. He never works while the Argentina football is on TV.
          </p>
          <a
            class="dim no-underline"
            target="_blank"
            href="https://twitter.com/Alexx_vazquezz">
            <img
              style="max-width:25px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/twitter.png">
          </a>
        </div>
      </div>
      <hr class="my-2">
      <div class="row justify-content-center py-5">
        <div class="col-xl-3 col-md-4 col-12">
          <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/jordan.jpg"
          style="max-width:170px"
          class="rounded img-responsive"
          alt="Jordan">
        </div>
        <div class="col-xl-6 col-md-6 col-12">
          <h4 class="font-weight-bold mb0">
            Jordan Knox
          </h4>
          <p class="f5 silver mb-3">
            Sales
          </p>
          <p class="f5 lh-title grey-text mb-2">
            Jordan has founded products in the AI and productivity space and sold a company to Box. He has a passion for sales and making a greater impact on the world. He played Division I basketball for Northridge and resides in Oakland, CA.
          </p>
          <a
            class="dim no-underline"
            target="_blank"
            href="https://twitter.com/butter_ai">
            <img
              style="max-width:25px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/twitter.png">
          </a>
        </div>
      </div>
    </section>
  </div>
</section>