<section class="pt-10">
  <div
    class="container">
      <hr class="my-2">
      <div class="row justify-content-center py-5">
        <div class="col-xl-3 col-md-4 col-12">
          <img
            src="https://otter-cdn.sfo2.digitaloceanspaces.com/mike.jpg"
            style="max-width:170px"
            class="rounded img-responsive"
            alt="Kyle"/>
        </div>
        <div class="col-xl-6 col-md-6 col-12">
          <h4 class="font-weight-bold mb0">
            Mike Townsend
          </h4>
          <p class="f5 silver mb-3">
            Business Development
          </p>
          <p class="f6 lh-title grey-text mb-2 fw6">
            Mike is an Ironman, active writer and host of "Around the Coin" payments podcast. He sold two tech companies (HomeHero and Zing) and founded a few others. He has attempted three Guinness World Records.
          </p>
          <a
            class="dim no-underline"
            target="_blank"
            href="https://twitter.com/michaeltheleo">
            <img
              style="max-width:25px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/twitter.png">
          </a>
          <a
            class="dim no-underline"
            target="_blank"
            href="https://medium.com/@mikettownsend">
            <img
              style="max-width:25px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/medium.png">
          </a>
        </div>
      </div>
      <hr class="my-2">
      <div class="row justify-content-center py-5">
        <div class="col-xl-3 col-md-4 col-12">
          <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/kyle.jpg"
          style="max-width:170px"
          class="rounded img-responsive"
          alt="Kyle">
        </div>
        <div class="col-xl-6 col-md-6 col-12">
          <h4 class="font-weight-bold mb0">
            Kyle Hill
          </h4>
          <p class="f5 silver mb-3">
            Engineering
          </p>
          <p class="f6 lh-title grey-text mb-2 fw6">
            Kyle is a soccer player and enjoys swimming and longboarding. He graduated from Pomona College and served as CEO of two venture-backed startups. He has a playful German Shepherd and aspires to be a Chess Grandmaster.
          </p>
          <a
            class="dim no-underline"
            target="_blank"
            href="https://twitter.com/kaleazy">
            <img
              style="max-width:25px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/twitter.png">
          </a>
          <a
            class="dim no-underline"
            target="_blank"
            href="https://medium.com/@kaleazy">
            <img
              style="max-width:25px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/medium.png">
          </a>
        </div>
      </div>
      <hr class="my-2">
      <div class="row justify-content-center py-5">
        <div class="col-xl-3 col-md-4 col-12">
          <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/alex.jpg"
          style="max-width:170px"
          class="rounded img-responsive"
          alt="Kyle">
        </div>
        <div class="col-xl-6 col-md-6 col-12">
          <h4 class="font-weight-bold mb0">
            Alex Vazquez
          </h4>
          <p class="f5 silver mb-3">
            Recruiting
          </p>
          <p class="f6 lh-title grey-text mb-2 fw6">
            Alex is a seasoned product manager, QA engineer and technical recruiter with deep roots in Buenos Aires. He is Agile and Scrum Master Certified with 10+ years of development experience. He never works while the Argentina football is on TV.
          </p>
          <a
            class="dim no-underline"
            target="_blank"
            href="https://twitter.com/Alexx_vazquezz">
            <img
              style="max-width:25px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/twitter.png">
          </a>
        </div>
      </div>
      <hr class="my-2">
      <div class="row justify-content-center py-5">
        <div class="col-xl-3 col-md-4 col-12">
          <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/pray.png"
          style="max-width:170px"
          class="rounded img-responsive"
          alt="Pray Nadal">
        </div>
        <div class="col-xl-6 col-md-6 col-12">
          <h4 class="font-weight-bold mb0">
            Pray Nadal
          </h4>
          <p class="f5 silver mb-3">
            Recruiting
          </p>
          <p class="f6 lh-title grey-text mb-2 fw6">
            With a B.S. and Masters degree, Pray is a digital nomad who appreciates diversity and interconnectedness. He started working in Business Process Outsourcing (BPO) and became an overseaas manager at a young age. He has worked in sales, customer support and recruiting across multiple industries before joining Otter. Pray enjoys boxing in his spare time.
          </p>
          <a
            class="dim no-underline"
            target="_blank"
            href="https://twitter.com/butter_ai">
            <img
              style="max-width:25px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/twitter.png">
          </a>
        </div>
      </div>
      <hr class="my-2">
      <div class="row justify-content-center py-5">
        <div class="col-xl-3 col-md-4 col-12">
          <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/grace.png"
          style="max-width:170px"
          class="rounded img-responsive"
          alt="Pray Nadal">
        </div>
        <div class="col-xl-6 col-md-6 col-12">
          <h4 class="font-weight-bold mb0">
            Grace Gong
          </h4>
          <p class="f5 silver mb-3">
            Recruiting
          </p>
          <p class="f6 lh-title grey-text mb-2 fw6">
            Grace is an author, investment manager, and founder and host of the <a href="//www.howtobeavc.com/podcast" target="_blank">Smart Venture Podcast</a>. She has worked in both the Silicon Valley and China. Grace loves learning from talented founders and investors. She enjoys standup comedy shows in her spare time.
          </p>
          <a
            class="dim no-underline"
            target="_blank"
            href="https://www.linkedin.com/in/gracegong/">
            <img
              style="max-width:25px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/linkedin.png">
          </a>
          <a
            class="dim no-underline"
            target="_blank"
            href="https://medium.com/@gracegong">
            <img
              style="max-width:25px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/medium.png">
          </a>
        </div>
      </div>
    </section>
  </div>
</section>