<section class="py-10 bg-light">
  <div
    class="container">
    <div class="row align-items-center justify-content-between">
      <div
        class="col-12 col-md-6 col-lg-5">
        <span class="badge badge-pill badge-primary-soft mb-3">
          <span class="h6 text-uppercase">Clients</span>
        </span>
        <h1
          style="font-size: 38px;"
          class="lh-title mt-2">
          Media
        </h1>
        <p class="font-size-lg text-gray-700 mb-6">
          Our work has appeared in TechCrunch, VentureBeat, Fortune, Forbes, Mashable, NPR, Apple, TEDx, TWiST, CNBC, Business Insider and other media publications. We received First Place honors from both Webby Awards and W3 Awards for exceptional web and mobile design.
        </p>
      </div>
      <div
        class="col-12 col-md-6">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/homehero-mobile5.png"
          class="img-fluid">
      </div>
    </div>
  </div>
</section>