<section
  class="pt-10 pb-10 bg-light"
  style="background-image: url(https://storage.googleapis.com/redeeem/assets/images/site/chrome.png);">
  <div
    data-aos="fade-in"
    class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card card-border border-success shadow-lg mb-5">
          <div class="card-body">
            <div class="list-group list-group-flush">
              <div class="list-group-item d-flex align-items-center">           
                <div class="mr-auto">
                  <p class="font-weight-bold mb-1">
                    What wallets do you recommend?
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    For ease and flexibility, we recommend <a href="https://invite.abra.com/rFVslDavm0" target="_blank">Abra</a>, <a href="https://lumiwallet.com/" target="_blank">Lumi</a> or <a href="https://bitpay.com/wallet" target="_blank">BitPay</a> mobile wallets.
                  </p>
                </div>
                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div class="mr-auto">
                  <p class="font-weight-bold mb-1">
                    Where can I swap cryptocurrencies?
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    To swap virtually any crypto fast, easy and anonymously, check out <a href="https://changelly.com/?ref_id=ny1rt8x4xsy5seku" target="_blank">Changelly</a> or <a href="https://shapeshift.io" target="_blank">ShapeShift</a>.
                  </p>
                </div>
                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div class="mr-auto">
                  <p class="font-weight-bold mb-1">
                    What exchanges do you recommend?
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    For USA customers, the largest are <a href="https://www.coinbase.com/join/59ad1555d0190f00d106d3bd" target="_blank">Coinbase</a>, <a href="https://www.kraken.com" target="_blank">Kraken</a> or <a href="https://www.binance.us/en" target="_blank">Binance</a>. For international customers, visit <a href="https://cryptoradar.co/exchanges" target="_blank">CryptoRadar</a> and use the filters to narrow down your search.
                  </p>
                </div>
                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div class="mr-auto">
                  <p class="font-weight-bold mb-1">
                    What are other P2P exchanges?
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    For peer-to-peer bank and mobile wallet transfers, we recommend <a href="https://paxful.com/?r=mPGkjL6W3d2" target="_blank">Paxful</a>, <a href="https://localbitcoins.com" target="_blank">LocalBitcoins</a> or <a href="https://bisq.network" target="_blank">Bisq</a>.
                  </p>
                </div>
                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card card-border border-success shadow-lg mb-5">
          <div class="card-body">
            <div class="list-group list-group-flush">
              <div class="list-group-item d-flex align-items-center">           
                <div class="mr-auto">
                  <p class="font-weight-bold mb-1">
                    Where can I analyze crypto trends?
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    For real-time visual data charts on the entire crypto market, visit <a href="https://coin360.com/" target="_blank">Coin360</a> or <a href="https://cryptowat.ch" target="_blank">CryptoWatch</a>.
                  </p>
                </div>
                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div class="mr-auto">
                  <p class="font-weight-bold mb-1">
                    What software does Redeeem use?
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    Redeeem uses <a href="https://bcoin.io/" target="_blank">Bcoin</a>, <a href="https://www.coinpayments.net/" target="_blank">CoinPayments</a>, <a href="https://www.civic.com" target="_blank">Civic</a> and a dozen other software programs listed on our <a href="/product">Product</a> page.
                  </p>
                </div>
                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div class="mr-auto">
                  <p class="font-weight-bold mb-1">
                    What browser do you recommend?
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    We recommend <a href="https://brave.com/red226" target="_blank">Brave</a>, a faster, more private and secure browser built on Basic Attention Token (BAT). To win disputes, we require the <a href="https://www.loom.com" target="_blank">Loom</a> Chrome extension.
                  </p>
                </div>
                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div class="mr-auto">
                  <p class="font-weight-bold mb-1">
                    How do I convert Amazon to bitcoin?
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    We recommend <a href="https://purse.io/?_r=nCWUYW" target="_blank">Purse.io</a> or <a href="https://www.ipayyou.io/" target="_blank">iPayYou.io</a> to convert Amazon credits back to bitcoin.
                  </p>
                </div>
                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>