<section class="py-5">
  <div class="container">
    <div
      class="investors flex-container">
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/forbes.png"
          alt="Forbes"
          class="img-responsive">
      </div>
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/techcrunch.png"
          alt="Techcrunch"
          class="img-responsive">
      </div>
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/cnbc.png"
          alt="CNBC"
          class="img-responsive">
      </div>
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/awww.png"
          alt="Awwwards"
          class="img-responsive">
      </div>
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/vb.png"
          alt="VentureBeat"
          class="img-responsive">
      </div>
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/npr.png"
          alt="NPR"
          class="img-responsive">
      </div>
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/businessinsider.png"
          alt="Business Insider"
          class="img-responsive">
      </div>
      <div
        class="flex-item v-mid pa1">
        <img
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/twist.png"
          alt="This Week in Startups"
          class="img-responsive">
      </div>
    </div>
  </div>
</section>