<section class="py-10">
  <div class="container mb5-l">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-6">
        <div class="img-skewed img-skewed-right mb-10 mb-md-0">
          <img
            src="https://otter-cdn.sfo2.digitaloceanspaces.com/mockups.png"
            alt="Product screenshot"
            class="img-fluid">
        </div>
      </div>
      <div
        class="col-12 col-md-6 col-lg-5">
        <span class="badge badge-pill badge-primary-soft mb-3">
          <span class="h6 text-uppercase">Process</span>
        </span>
        <h2>
          Measure twice. Cut once.
        </h2>
        <p class="font-size-lg text-gray-700 mb5-l">
          At Otter we believe "less is more" in software development. We carefully analyze a problem before writing any lines of code to ensure we are always building towards business goals in the simpliest way possible. 
        </p>
        <p class="font-size-lg text-gray-700 mb5-l">
          We practice <a href="https://www.wikiwand.com/en/Agile_software_development">Agile</a> software development centered around the idea of fast iterative development and frequent communication between engineers and Product Managers. This allows teams to build faster, with greater quality, and be more responsive to change.
        </p>
      </div>
    </div>
  </div>
</section>