<section class="py-10">
  <div class="container mb5-l">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-6">
        <div class="img-skewed img-skewed-right mb-10 mb-md-0">
          <img
            src="https://otter-cdn.sfo2.digitaloceanspaces.com/mockups-half.png"
            alt="Product screenshot"
            class="img-fluid">
        </div>
      </div>
      <div
        class="col-12 col-md-6 col-lg-5">
        <h1
          style="font-size: 32px"
          class="fw7 pb-5">
          Measure twice. Cut once.
        </h1>
        <p class="font-size-lg text-gray-700 mb5-l">
          At Otter we believe "less is more" in software development. We carefully analyze a problem before writing any lines of code to ensure we are always building towards business goals in the simpliest way possible. 
        </p>
      </div>
    </div>
  </div>
</section>