<section class="py-10 bg-light">
  <div
    class="container">
    <!-- Title -->
    <div class="row justify-content-center mb-5">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <h1 class="font-weight-bold">
          Which Otter is right for you?
        </h1>
        <p class="font-size-lg mid-gray">
          We have 8 years of experience recruiting and hiring senior remote developers who speak great English, work in congruent time zones, love writing beautiful code, and would love to join your team — full-time, part-time, or flexible.
        </p>
      </div>
    </div>
    <!-- Contact -->
    <div
      class="row justify-content-center mb-10">
      <a href="https://airtable.com/shrXpkezAAidN3NOg" target="_blank">
        <button
          type="button"
          class="btn btn-primary auto"
          style="width:200px">
          Client Intake
        </button>
      </a>
    </div>
    <!-- Rates -->
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <img
            style="max-height:120px"
            src="https://otter-cdn.sfo2.digitaloceanspaces.com/junior-otter.png"
            class="ma1"
            alt="Otter">
          <h3 class="my-0 font-weight-normal">
            Junior Otter
            <p class="f5 moon-gray ma0">
              Backend Developer
            </p>
          </h3>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            $30-35&nbsp;<small class="fw6 f5">/ hour</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Flexible hours</li>
            <li>15+ hours per week</li>
            <li>Bug fixes and QA</li>
            <li>1 project manager</li>
          </ul>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <img
            style="max-height:120px"
            src="https://otter-cdn.sfo2.digitaloceanspaces.com/senior-otter.png"
            class="ma1"
            alt="Otter">
          <h3 class="my-0 font-weight-normal">
            Senior Otter
            <p class="f5 moon-gray ma0">
              Full Stack Developer
            </p>
          </h3>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            $40-45&nbsp;<small class="fw6 f5">/ hour</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Set schedule</li>
            <li>30+ hours per week</li>
            <li>Heavy development</li>
            <li>1 product manager</li>
          </ul>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <img
            style="max-height:120px"
            src="https://otter-cdn.sfo2.digitaloceanspaces.com/lead-otter.png"
            class="ma1"
            alt="Otter">
          <h3 class="my-0 font-weight-normal">
            Lead Otter
            <p class="f5 moon-gray ma0">
              Full Stack Developer
            </p>
          </h3>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            $50+&nbsp;<small class="fw6 f5">/ hour</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Set schedule</li>
            <li>40+ hours per week</li>
            <li>Heavy development</li>
            <li>1 product manager</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Contact</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="f5 lh-title dark-gray fw7">
            Please email Mike Townsend with a brief description of your project. We typically require $2k/month minimum budget and Seed to Pre-Seed venture funding.
          </p>
          <h4 class="f3 lh-title dark-gray ma0 fw7">
            Mike Townsend
          </h4>
          <p class="f6 silver ma0 ttu pb-4">
            Busines Development
          </p>
          <a
            target="_blank"
            class="f5 lh-title db fw7 text-decoration-none"
            href="mailto:mike@hireotter.com">
            <img
              style="min-width:15px;max-width:15px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/gmail.png"
              class="mr1"
              alt="Gmail">
            <span clas="dib f5">
            mike@hireotter.com
          </a>
          <a
            target="_blank"
            class="f5 lh-title db fw7 text-decoration-none"
            href="https://t.me/mikeatyourservice">
            <img
              style="min-width:15px;max-width:15px"
              src="https://otter-cdn.sfo2.digitaloceanspaces.com/telegram.png"
              class="mr1"
              alt="Telegram">
            <span clas="dib f5">
              @mikeatyourservice
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(function() {
    function getName(val){
      if (val < 2) return 'Otter';
      return 'Otters';
    }
    $("#slider-range-min").slider({
      range: "min",
      min: 5,
      max: 50,
      value: 20,
      slide: function(event,picker){
        var value = picker.value;
        $("#amount").val("$"+value+",000");
        $("#price1").html((value*1000/35/4/15).toFixed(0));
        $("#price2").html((value*1000/40/4/30).toFixed(0));
        $("#price3").html((value*1000/45/4/40).toFixed(0));
        $("#otter1").html(getName(value*1000/35/4/15));
        $("#otter2").html(getName(value*1000/40/4/30));
        $("#otter3").html(getName(value*1000/45/4/40));
        $(".a,.b,.c,.d").width(value+"%");
      }
    });
    $(".ui-slider-handle").prepend('<img src="https://otter-cdn.sfo2.digitaloceanspaces.com/slider.png"/>');
    var value = $("#slider-range-min").slider("value");
    $("#amount").val("$"+value+",000");
    $("#price1").html((value*1000/35/4/15).toFixed(0));
    $("#price2").html((value*1000/40/4/30).toFixed(0));
    $("#price3").html((value*1000/45/4/40).toFixed(0));
    $("#otter1").html(getName(value*1000/35/4/15));
    $("#otter2").html(getName(value*1000/40/4/30));
    $("#otter3").html(getName(value*1000/45/4/40));
  });
</script>