<section class="pt-9 pb-7">
  <div
    data-aos="fade-in"
    class="container">
    <div class="row align-items-stretch">
      <div class="col-12 col-md-5">
        <div class="col-12 mt-3 tc">
          <p class="mv2 text-muted">
            Gift Card Seller
          </p>
        </div>
        <blockquote class="blockquote text-center">
          <p class="mb-5 mb-md-7">
            "I've been using this platform for almost a year now and I must confess, it is worth every bit of my time. Honest buyers and supportive moderators. Redeeem is the best site for trading gift cards, very fast and efficient. I recommend to everyone.”
          </p>
          <footer class="blockquote-footer mb-8 mb-md-0">
            <div class="avatar mr-3">
              <img src="https://picsum.photos/100?random=1" class="avatar-img rounded-circle" alt="...">
            </div> <span class="h6 text-uppercase">Ogunwa, Nigeria</span>
          </footer>
        </blockquote>
      </div>
      <div class="col-12 col-md-1 border-right d-none d-md-block"></div>
      <div class="col-12 col-md-5 offset-md-1">
        <div class="col-12 mt-3 tc">
          <p class="mv2 text-muted">
            Gift Card Buyer
          </p>
        </div>
        <blockquote class="blockquote text-center">
          <p class="mb-5 mb-md-7">
            “Since I started using Redeeem, it's been my number one source for gift cards. They have highest discounts I have seen, and the best custumer service. Always available, patient and understanding. Just follow the rules and you will enjoy the discounts too.”
          </p>
          <footer class="blockquote-footer mb-0">
            <div class="avatar mr-3">
              <img src="https://picsum.photos/100?random=2" class="avatar-img rounded-circle" alt="...">
            </div> <span class="h6 text-uppercase">Michael, Israel</span>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>