<section class="pt-5 pb-10 bg-gradient-light border-bottom">
  <div
    class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-7 col-lg-6">
        <span class="badge badge-pill badge-secondary-soft mb-3">
          <span class="h6 text-uppercase">How it works</span>
        </span>
        <h2 style="font-size:40px">
          We can work with you in one of three ways.
        </h2>
        <p class="font-size-lg text-muted mb-6">
          We typically charge a flat hourly rate based on the total hours worked by our developers each month.
        </p>
        <div class="d-flex">
          <div class="icon text-primary">
            <i class="fw3 fal fa-users-crown" style="font-size:27px"></i>
          </div>
          <div class="ml-5">
            <h4 class="mb-1">
              1. Full Autonomy
            </h4>
            <p class="text-muted mb-6">
              We work as your remote dev team and provide full development, design, QA, strategy and product management servives.
            </p>
          </div>
        </div>
        <div class="d-flex">
          <div class="icon text-primary">
            <i class="fw3 fal fa-rocket" style="font-size:27px"></i>
          </div>
          <div class="ml-5">
            <h4 class="mb-1">
              2. Staff Augmentation
            </h4>
            <p class="text-muted mb-6">
              Hire 100% dedicated developers and treat them like remote members of your team. You can even list them on your website.
            </p>
          </div>
        </div>
        <div class="d-flex">
          <div class="icon text-primary">
            <i class="fw3 fal fa-fish" style="font-size:27px"></i>
          </div>
          <div class="ml-5">
            <h4 class="mb-1">
              3. "Big Fish on the Hook"
            </h4>
            <p class="text-muted mb-6">
              We work with agencies (design, development, content, marketing, etc) as a sub-contractor and help fulfill technical aspects of a contract for your client.
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-md-5 col-lg-6">
        <div class="w-md-150 w-lg-130 position-relative">
          <div class="device-combo device-combo-iphonex-iphonex">
            <div
              class="device device-iphonex">
              <img
                src="https://storage.googleapis.com/redeeem/assets/images/site/iphone_sell.png"
                class="device-screen"
                alt="Large screen">
              <img
                src="assets/img/devices/iphonex.svg"
                class="img-fluid"
                alt="Sell cards">
            </div>
            <div
              class="device device-iphonex">
              <img
                src="https://storage.googleapis.com/redeeem/assets/images/site/iphone_buy.png"
                class="device-screen"
                alt="Small screen">
              <img
                src="assets/img/devices/iphonex.svg"
                class="img-fluid"
                alt="Buy cards">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>