<section class="pb-10 bg-light">
  <div
    data-aos="fade-in"
    class="container">
    <div class="col-12 pb4">
      <h3 class="mb-0">
        Fraud Protection
      </h3>
      <p class="mb-0 text-muted">
        How we protect your cards, crypto and personal data.
      </p>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card shadow-light-lg mb-6 mb-md-0 lift lift-lg">
          <div class="card-body">
            <span class="badge badge-pill badge-primary-desat badge-float badge-float-outside">
              Card Security
            </span>
            <h4 class="font-weight-bold">
              Your Cards
            </h4>
            <p class="text-muted">
              All gift card code numbers are encrypted at AES-256 so no hackers (or admin) can see your cards. Our Trust Ratings and dispute process also protects your cards from scammers.
            </p>
            <a
              target="_blank"
              href="https://proprivacy.com/guides/aes-encryption"
              class="font-size-sm font-weight-bold text-decoration-none">
              Learn about Encryption
              <i class="fal fa-angle-right ml2"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card shadow-light-lg mb-6 mb-md-0 lift lift-lg">
          <div class="card-body">
            <span class="badge badge-pill badge-primary-desat badge-float badge-float-outside">
              Crypto Security
            </span>
            <h4 class="font-weight-bold">
              Your Bitcoin
            </h4>
            <p class="text-muted">
              Own your own wallet hosted on the blockchain with encrypted security keys, powered by Bcoin. Send, receive or earn bitcoin with 0% withdraw fees and fast transfers.
            </p>
            <a
              target="_blank"
              href="https://bcoin.io/"
              class="font-size-sm font-weight-bold text-decoration-none">
              Learn about Bcoin
              <i class="fal fa-angle-right ml2"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card shadow-light-lg lift lift-lg">
          <div class="card-body">
            <span class="badge badge-pill badge-primary-desat badge-float badge-float-outside">
              Data Security
            </span>
            <h4 class="font-weight-bold">
              Your Identity
            </h4>
            <p class="text-muted">
              Verify your identity (KYC) in minutes using our third-party Civic Mobile App available on any mobile device. We accept users in over 200 countries and territories globally.
            </p>
            <a
              target="_blank"
              href="https://www.civic.com/app/"
              class="font-size-sm font-weight-bold text-decoration-none">
              Learn about Civic
              <i class="fal fa-angle-right ml2"></i>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>