<section class="py-4 bg-white">
  <div class="container">
    <div class="row">
      <a
        target="_blank"
        href="https://instagram.com/hireotter" class="dim" target="_blank">
        <img
          style="min-width:35px;max-width:35px"
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/instagram.png"
          class="dib pt3 pr-2"
          alt="Twitter">
      </a>
      <a
        target="_blank"
        href="https://twitter.com/hireotter" class="dim" target="_blank">
        <img
          style="min-width:35px;max-width:35px"
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/twitter.png"
          class="dib pt3 pr-2"
          alt="Twitter">
      </a>
      <a
        target="_blank"
        href="https://www.facebook.com/otteratyourservice" class="dim" target="_blank">
        <img
          style="min-width:35px;max-width:35px"
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/facebook.png"
          class="dib pt3 pr-2"
          alt="Facebook">
      </a>
      <a
        target="_blank"
        href="https://t.me/hireotter" class="dim" target="_blank">
        <img
          style="min-width:35px;max-width:35px"
          src="https://otter-cdn.sfo2.digitaloceanspaces.com/telegram.png"
          class="dib pt3 pr-2"
          alt="Telegram">
      </a>
    </div>
  </div>
</section>