<section class="py-4 bg-white">
  <div class="container">
    <div class="row">
      <a
        target="_blank"
        href="https://twitter.com/Otter" class="dim" target="_blank">
        <img
          style="min-width:35px;max-width:35px"
          src="https://storage.googleapis.com/redeeem/assets/images/twitter.png"
          class="dib pt3 pr-2"
          alt="Twitter">
      </a>
      <a
        target="_blank"
        href="https://www.facebook.com/groups/Otter" class="dim" target="_blank">
        <img
          style="min-width:35px;max-width:35px"
          src="https://storage.googleapis.com/redeeem/assets/images/facebook.png"
          class="dib pt3 pr-2"
          alt="Facebook">
      </a>
      <a
        target="_blank"
        href="https://t.me/Otter" class="dim" target="_blank">
        <img
          style="min-width:35px;max-width:35px"
          src="https://storage.googleapis.com/redeeem/assets/images/telegram.png"
          class="dib pt3 pr-2"
          alt="Telegram">
      </a>
      <a
        target="_blank"
        href="https://www.reddit.com/r/Otter" class="dim" target="_blank">
        <img
          style="min-width:35px;max-width:35px"
          src="https://storage.googleapis.com/redeeem/assets/images/reddit.png"
          class="dib pt3 pr-2"
          alt="Reddit">
      </a>
      <a
        target="_blank"
        href="https://medium.com/@Otter" class="dim" target="_blank">
        <img
          style="min-width:35px;max-width:35px"
          src="https://storage.googleapis.com/redeeem/assets/images/medium.png"
          class="dib pt3 pr-2"
          alt="Medium">
      </a>
      <a
        target="_blank"
        href="https://www.linkedin.com/company/Otter/" class="dim" target="_blank">
        <img
          style="min-width:35px;max-width:35px"
          src="https://storage.googleapis.com/redeeem/assets/images/linkedin.png"
          class="dib pt3 pr-2"
          alt="LinkedIn">
      </a>
    </div>
  </div>
</section>