<section
  class="pt-10 pb-10 bg-light"
  style="background-image: url(https://storage.googleapis.com/redeeem/assets/images/site/chrome.png);">
  <div
    data-aos="fade-in"
    class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card card-border border-success shadow-lg mb-5">
          <div class="card-body">
            <div class="list-group list-group-flush">
              <div class="list-group-item d-flex align-items-center">           
                <div class="mr-auto">
                  <p class="font-weight-bold mb-1">
                    Tedx Manhattan Beach | Kyle Hill
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    Kyle Hill presents to TEDx Manhattan Beach on Dec 2, 2016.
                  </p>
                  <video
                    width="100%"
                    class="mt-3"
                    controls>
                    <source
                      src="https://otter-cdn.sfo2.digitaloceanspaces.com/videos/tedx.mp4"
                      type="video/mp4">
                      Your browser does not support HTML5 video.
                  </video>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div class="mr-auto">
                  <p class="font-weight-bold mb-1">
                    This Week in Startups | Kyle Hill
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    Kyle Hill talks to Jason Calicanus on TWiST Sep 5, 2014.
                  </p>
                  <video
                    width="100%"
                    class="mt-3"
                    controls>
                    <source
                      src="https://otter-cdn.sfo2.digitaloceanspaces.com/videos/twist.mp4"
                      type="video/mp4">
                      Your browser does not support HTML5 video.
                  </video>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div class="mr-auto">
                  <p class="font-weight-bold mb-1">
                    Mobile Ordering | Flowtab
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    Flowtab 
                  </p>
                </div>
                <div class="badge badge-rounded-circle badge-primary-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div class="mr-auto">
                  <p class="font-weight-bold mb-1">
                    What are other P2P exchanges?
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    For peer-to-peer bank and mobile wallet transfers, we recommend <a href="https://paxful.com/?r=mPGkjL6W3d2" target="_blank">Paxful</a>, <a href="https://localbitcoins.com" target="_blank">LocalBitcoins</a> or <a href="https://bisq.network" target="_blank">Bisq</a>.
                  </p>
                </div>
                <div class="badge badge-rounded-circle badge-primary-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card card-border border-success shadow-lg mb-5">
          <div class="card-body">
            <div class="list-group list-group-flush">
              <div class="list-group-item d-flex align-items-center">           
                <div class="mr-auto">
                  <p class="font-weight-bold mb-1">
                    Where can I analyze crypto trends?
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    For real-time visual data charts on the entire crypto market, visit <a href="https://coin360.com/" target="_blank">Coin360</a> or <a href="https://cryptowat.ch" target="_blank">CryptoWatch</a>.
                  </p>
                </div>
                <div class="badge badge-rounded-circle badge-primary-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div class="mr-auto">
                  <p class="font-weight-bold mb-1">
                    What software does Redeeem use?
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    Redeeem uses <a href="https://bcoin.io/" target="_blank">Bcoin</a>, <a href="https://www.coinpayments.net/" target="_blank">CoinPayments</a>, <a href="https://www.civic.com" target="_blank">Civic</a> and a dozen other software programs listed on our <a href="/product">Product</a> page.
                  </p>
                </div>
                <div class="badge badge-rounded-circle badge-primary-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div class="mr-auto">
                  <p class="font-weight-bold mb-1">
                    What browser do you recommend?
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    We recommend <a href="https://brave.com/red226" target="_blank">Brave</a>, a faster, more private and secure browser built on Basic Attention Token (BAT). To win disputes, we require the <a href="https://www.loom.com" target="_blank">Loom</a> Chrome extension.
                  </p>
                </div>
                <div class="badge badge-rounded-circle badge-primary-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div class="mr-auto">
                  <p class="font-weight-bold mb-1">
                    How do I convert Amazon to bitcoin?
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    We recommend <a href="https://purse.io/?_r=nCWUYW" target="_blank">Purse.io</a> or <a href="https://www.ipayyou.io/" target="_blank">iPayYou.io</a> to convert Amazon credits back to bitcoin.
                  </p>
                </div>
                <div class="badge badge-rounded-circle badge-primary-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>