<section class="pt-7 pb-5">
  <div
    class="container">
    <div class="row align-items-center mt-6 mb-10">
      <div
        class="col-12 col-md-8 col-lg-8">
        <div class="col-12 col-md-auto">
          <h1
            style="font-size:40px"
            class="fw7 lh-title">
            A premier web and mobile development agency that helps startups swim faster.
          </h1>
          <p class="f4 fw6 mb-6 mb-lg-8">
            Otter reduces the time, costs and risks of building great products by augmenting engineering teams with senior remote developers.
          </p>
        </div>
        <div
          class="col-12 col-md-auto"> 
          <!-- Button -->
          <a
            href="/process" class="btn btn-primary-soft mr-1 lift o-80">
            Learn More
          </a>
          <a
            href="/rates" class="btn btn-primary lift">
            Compare Rates<i class="fal fa-angle-right ml2"></i>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <img src="https://otter-cdn.sfo2.digitaloceanspaces.com/otter.jpg" class="img-fluid">
      </div>
    </div>
  </div> 
</section>