<section class="pt-7 pb-5">
  <div
    class="container">
    <div class="row align-items-center mt-6 mb-10">
      <div
          class="col-12 col-md-5 col-lg-6 order-md-1">
          <!-- Device -->
          <div class="device device-macbook">
            <img src="https://storage.googleapis.com/redeeem/assets/images/site/screenshot_buy.png" class="device-screen" alt="...">
            <img src="assets/img/devices/macbook.svg" class="img-fluid" alt="...">
          </div>
      </div>
      <div
        class="col-12 col-md-7 col-lg-6 order-md-1">
        <div class="col-12 col-md-auto">
          <h1
            style="font-size: 35px;"
            class="lh-title mt-6">
            We are <span class="text-primary">Otter</span>, your trusted peer-to-peer gift card exchange.
          </h1>
          <p class="lead text-muted mb-6 mb-lg-8">
            Otter is a fast, safe and easy way to buy and sell gift cards using cryptocurrencies. Save 20% or more on Amazon, Walmart, eBay and dozens of other brands.
          </p>
        </div>
        <div
          class="col-12 col-md-auto"> 
          <!-- Button -->
          <a
            href="/product" class="btn btn-primary-soft mr-1 lift o-80">
            Learn More
          </a>
          <a
            target="_blank"
            href="https://app.Otter.com/login/#/signup" class="btn btn-primary lift">
            Get Started <i class="fal fa-angle-right ml2"></i>
          </a>
        </div>
      </div>
    </div>
  </div> 
</section>